<!-- your html code here -->

<div class="container-fluid px-4">
    <hr>
    <h2 class="fw-bold ">Contact</h2>
    <p class="fs-5 container-fluid">Lorem ipsum odor amet, consectetuer adipiscing elit. Bibend
        um tempus malesuada adipiscing; dignissim elementum parturient sollicit
        udin. Integer posuere pellentesque molestie commodo dolor. Donec potent
        i accumsan in viverra lacus etiam curabitur etiam. Senectus donec ante 
        mattis convallis, cursus bibendum ultricies pellentesque. Eros lectus l
        ectus montes, elit vestibulum parturient.</p>
    <form class="container card p-3 pe-5 justify-content-center">
        <div class="d-flex flex-row mb-3 justify-content-end">
            <div class="pe-3 align-content-center">
                <b>Your E-mail
                </b>
            </div>
            <div id="emailHelp" class="form-text w-75">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your E-mail">
            </div>
        </div>
        <div class="form-floating d-flex flex-row mb-3 justify-content-end">
            <div class="pe-3 align-content-center">
                <b>Your message
                </b>
            </div>
            <textarea class="form-control w-75" placeholder="Please enter your comments here..." style="height: 100px"></textarea>
          </div>
        <div style="display: flex;justify-content: flex-end;">
            <button type="submit" style="width: 7%;" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>